body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;

 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sect{
	background-color: rgba(255, 255, 255, 0.5);
}

.tweet{
	width:70%;
	margin-left:10%;
}

.radio{
	
	 -webkit-box-shadow: 13px 16px 11px 2px rgba(0,0,0,0.13);
	-moz-box-shadow: 13px 16px 11px 2px rgba(0,0,0,0.13);
	box-shadow: 13px 16px 11px 2px rgba(0,0,0,0.13);
}



.testing{
	
background: rgba(24,115,201,1);
background: -moz-linear-gradient(left, rgba(24,115,201,1) 29%, rgba(24,115,201,1) 40%, rgba(20,92,173,1) 75%, rgba(20,92,173,1) 84%);
background: -webkit-gradient(left top, right top, color-stop(29%, rgba(24,115,201,1)), color-stop(40%, rgba(24,115,201,1)), color-stop(75%, rgba(20,92,173,1)), color-stop(84%, rgba(20,92,173,1)));
background: -webkit-linear-gradient(left, rgba(24,115,201,1) 29%, rgba(24,115,201,1) 40%, rgba(20,92,173,1) 75%, rgba(20,92,173,1) 84%);
background: -o-linear-gradient(left, rgba(24,115,201,1) 29%, rgba(24,115,201,1) 40%, rgba(20,92,173,1) 75%, rgba(20,92,173,1) 84%);
background: -ms-linear-gradient(left, rgba(24,115,201,1) 29%, rgba(24,115,201,1) 40%, rgba(20,92,173,1) 75%, rgba(20,92,173,1) 84%);
background: linear-gradient(to right, rgba(24,115,201,1) 29%, rgba(24,115,201,1) 40%, rgba(20,92,173,1) 75%, rgba(20,92,173,1) 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1873c9', endColorstr='#145cad', GradientType=1 );
}


.box h3{
text-align:center;
position:relative;
font-family: Arial;
color: #fff;

top:80px;
}
.box {
width:70%;
height:200px;
background:#2187a2;
margin:40px auto;
}

/*==================================================
* Efecto 2
* ===============================================*/
.effect2
{
position: relative;
}
.effect2:before, .effect2:after
{
z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width:300px;
background: #777;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.effect2:after
{
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}