body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;

 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sect{
	
}

.tweet{
	width:70%;
	margin-left:10%;
}




#profile ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

ul {
	  list-style:none;
}

#profile .list-group-item {
    float: left;
    width:110px;
    text-align:left !important;
    border:none !important;
}

#tendencias .list-group-item{
	 width:auto;
	 border:none;
}

.nav-item{
	
	padding-right:10px;
}

.newTweet{
	
	background-color: #008CBA;
	color:white !important;
}

.cardTitle{
	
	display:inline;
	margin-right:10px;
}

h6{
	
	font-size: small;
}

#rightPanel{

	
	margin-top:20px;
	background-color:white;
	border-radius: 10px;
}

#leftPanel{
	
	margin-top:20px;
	background-color:white;
	border-radius: 10px;
	
}

#leftPanel2{
	
	margin-top:20px;
	background-color:white;
	border-radius: 10px;
	
}

.for140chars{
	
	word-wrap: break-word;
}

.blueFont{
	
	color:#008CBA;
}




